.genre {
  background-color: #00596F;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Ubuntu', sans-serif;
  height: 100vh;
  margin: 0;
  width: calc(100% - 120px);
  position: relative;
  left: 120px;
}

.genre-pick {
  font-family: 'Barrio', cursive;
  color: #EDFD00;
  font-size: 4em;
  margin-top: 2em;
}

.genre-btn-container {
  display: flex;

}

.genre-btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.genre-btn {
  background-color: #FFA200;
  margin: 0.7em;
  width: 18%;
  text-align: center;
  font-size: 1.2em;
  color: #290037;
  border-radius: 15px;
  font-weight: bold;
}

.genre-btn > p {
  margin: 0.7em;
}
