body {
  padding: 0;
  margin: 0;
}

.header {
  height: 70px;
  text-align: center;
  position: fixed;
  width: 100%;
  background-color: #ffffff;
  z-index: 10;
}

.header > h1 {
  margin: 0.5em;
}

.left-bar {
  display: flex;
  flex-direction: column;
  width: 130px;
  position: fixed;
  background-color: grey;
  height: 100vh;
  top: 70px;
}

.bar-block {
  background-color: #ffffff;
  text-align: center;
  margin: 0.5em;
  border-radius: 10px;
}
