/* Home component styling */

.home-Home {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
  background-color: #EFEFEF;
}

.home-Home > h1 {
  color: black;
  font-size: 3.5em;
  font-weight: 200;
  word-spacing: 0.15em;
  letter-spacing: 0.075em;
}

.home-Home > h3 {
  color: #A9A9A9;
  font-size: 1.5em;
  background-color: #CAEBF2;
  text-align: center;
  padding: 0.5em;
  margin: 0;
}

.start-Home {
  background-color: #FF3B3F;
  border-radius: 1em;
  padding-left: 1em;
  padding-right: 1em;
  margin: 1em;
  color: #EFEFEF;
  margin-bottom: 2em;
}

/* Pick a length component styling */

.length-Length {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #0E0B16;
}

.subTitle-Length {
  display: flex;
  justify-content: center;
  font-family: 'Audiowide', cursive;
  color: #A239CA;
  font-size: 3em;
}

.options-Length {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 2.5em;
  margin-bottom: 5em;
}

.box-Length {
  margin: 1.5em;
  height: 10em;
  width: 15em;
  background-color: #4717F6;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 1em;

}

.box-Length > h3 {
  color: #E7DFDD;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
}

.box-Length > p {
  color: #E7DFDD;
  font-family: 'Raleway', sans-serif;
}

/* Pick an IMDB rating styling */
.container-IMDBscore {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  height: 30vh;
}

.question-IMDBscore {
  display: flex;
  color: black;
  font-family: 'Francois One', sans-serif;
  letter-spacing: 0.5em;
  word-spacing: 0.75em;
  font-size: 2em;
}

.options-IMDBscore {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.box0-IMDBscore {
  background-color: #008F95;
  border-radius: 2em;
  padding-left: 1em;
  padding-right: 1em;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
}
.box1-IMDBscore {
  background-color: #E98000;
  border-radius: 2em;
  padding-left: 1em;
  padding-right: 1em;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
}
.box2-IMDBscore {
  background-color: #EB6E80;
  border-radius: 2em;
  padding-left: 1em;
  padding-right: 1em;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
}
.box3-IMDBscore {
  background-color: #E24E42;
  border-radius: 2em;
  padding-left: 1em;
  padding-right: 1em;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
}
